# Arise Application Challenge
---

Please answer the questions shown below by completing the code within this notebook and filling in your final answers in the respective block of the arise Challenge Answers form.

---

### Step 1 (this step does not have an answer in the answer form)

Please import the Pandas package. You will need to install the package if you do not already have them (`hint - google anaconda install pandas`).

In [1]:
# Add your code for Question 1 in this code block
import pandas as pd

---

### Step 2 (this step does not have an answer in the answer form)

Use Pandas to read in the csv titled `application_data.csv` as a Panda's dataframe. Once you have read in the data as a dataframe use Panda's `head()` function to show an overview of the data.

In [2]:
data = pd.read_csv('application_data.csv')
data.head()

,customerID,loanId,appilcationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate
0,839247458,302953235622,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-16
1,217540860,302960101337,2018-12-23,1,7500.0,30.0,30,2019-01-22,2018-12-29
2,522238092,303016988846,2019-01-08,1,7500.0,30.0,30,2019-02-07,2019-01-08
3,096754469,302999605504,2019-01-04,1,7500.0,30.0,30,2019-02-03,2019-01-08
4,410354345,302951945878,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-17

You should now be able to see that the dataset contains information relating to loans that have been disbursed. Each row of the data is specific to a particular loan and displays the customer's ID that took out the loan, a unique loan ID, the date when the client applied for the loan, the loan number of the specific loan (how many loans the client has now taken out), the amount, interest rate, term days, the date when the loan repayment was due and the date the loan was actually repaid.

---

### Question 1

Convert `appilcationDate`, `repaymentDueDate` and `repaymentPaidDate` in the dataframes to datetimes.

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customerID         1000 non-null   object
 1   loanId             1000 non-null   object
 2   appilcationDate    1000 non-null   datetime64[ns]
 3   LoanNumber         1000 non-null   int64
 4   LoanAmount         1000 non-null   float64
 5   InterestRate       1000 non-null   float64
 6   TermDays           1000 non-null   int64
 7   repaymentDueDate   1000 non-null   object
 8   repaymentPaidDate  1000 non-null   object
dtypes: datetime64[ns](1), float64(2), int64(2), object(4)
memory usage: 54.8+ KB

In [5]:
# convert to datetime

# data['appilcationDate'] = pd.to_datetime(data['appilcationDate'])
# data['repaymentDueDate'] = pd.to_datetime(data['repaymentDueDate'])
# data['repaymentPaidDate'] = pd.to_datetime(data['repaymentPaidDate'])

In [15]:
data[['appilcationDate','repaymentDueDate','repaymentPaidDate']] = data[['appilcationDate',
                                                                         'repaymentDueDate',
                                                                         'repaymentPaidDate']].apply(pd.to_datetime)

Now that the dates have been converted, How many `unique`data types are contained within the application dataset?

In [17]:
data.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Columns: 9 entries, customerID to repaymentPaidDate
dtypes: datetime64[ns](3), float64(2), int64(2), object(2)
memory usage: 62.6+ KB

In [37]:
print(f'The application dataset contains {len(set(data.dtypes))} unique data types')

The application dataset contains 4 unique data types

### Question 2

Please calculate the `average` loan amount, interest rate and termdays for all the loans in the dataset? `Round` all number to two decimal places.

In [55]:
numeric = [x for x in data if data[x].dtypes in ['int64','float']]
numeric

['LoanNumber', 'LoanAmount', 'InterestRate', 'TermDays']

In [66]:
# 2a avg loan amount
print(f'Average loan amount for all loans in the dataset is N{round(data["LoanAmount"].mean(),2)}.')

Average loan amount for all loans in the dataset is N13828.08.

In [62]:
# 2b avg interest rate
print(f'Average interest rate for all loans in the dataset is {round(data["InterestRate"].mean(),2)}%.')

Average interest rate for all loans in the dataset is 23.06%.

In [65]:
# 2c avg term days 
print(f'Average term days for all loans in the dataset is {round(data["TermDays"].mean(),2)} days.')

Average term days for all loans in the dataset is 42.08 days.

---

### Question 3

Please create a new column called `dateDifference` which needs to contains the number of days between when the loan was repaid and when it was due to be repaid. 

Count the number of loans that were paid more than 3 days late. This can be done by first creating a dataframe only containing the loans that were paid more than 3 days late.

In [70]:
data['dateDifference'] =  data['repaymentDueDate']-data['repaymentPaidDate']

In [71]:
data.head()

,customerID,loanId,appilcationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate,dateDifference
0,839247458,302953235622,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-16,4 days
1,217540860,302960101337,2018-12-23,1,7500.0,30.0,30,2019-01-22,2018-12-29,24 days
2,522238092,303016988846,2019-01-08,1,7500.0,30.0,30,2019-02-07,2019-01-08,30 days
3,096754469,302999605504,2019-01-04,1,7500.0,30.0,30,2019-02-03,2019-01-08,26 days
4,410354345,302951945878,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-17,3 days

---

### Question 4

Please group the dataset by `TermDays` and calculate the `mean` loan amount and the `standard deviation` of loan amount within each term.

What is the mean loan amount in 30-day loans and what is the standard deviation of  loan amount in 90-day loans? Please give your answers to the nearest two decimal places.

### THIS IS A MARKDOWN

* Markdowns are cool

In [73]:
# mean loan amount in 30-day loans and standard deviation of loan amount in 90-day loans

data[['TermDays','LoanAmount']].groupby('TermDays').agg(['mean','std'])

            LoanAmount
                  mean           std
TermDays
15         1274.088050   2885.967406
30         7941.964286   1606.039495
45        10706.250000   2346.143820
60        25710.526316  11559.646185
90        37672.727273  18050.140602
120       45055.555556  22192.966854
180       80988.095238  34612.222587

---

### Question 5

`Late` loans are defined as loans that were paid `more than 3 days` after their due date. Please find the average number of days that these loans were paid beyond their due date for each `week of the year`. This will require you to break all `appilcationDate's` down into the week of the year they were made and then perform a group by. 

What is the average number of days that `late` loans applied for in the second week of the year were paid late? Please sumbit your answer rounded to two decimal places.

In [10]:
!start

---

### The End

Thank you for completing the challenge. Please make sure you have submitted all of your answers to the arise Challenge Answers form.

### Notebook
Please save you notebook as `yourEmail.ipynb` where you replace `yourEmail` with your actual email address and attach it to the arise Challenge Answers form.