# Arise Application Challenge
---

Please answer the questions shown below by completing the code within this notebook and filling in your final answers in the respective block of the arise Challenge Answers form.

---

### Step 1 (this step does not have an answer in the answer form)

Please import the Pandas package. You will need to install the package if you do not already have them (`hint - google anaconda install pandas`).

In [1]:
# Add your code for Question 1 in this code block
import pandas as pd
# !dir

---

### Step 2 (this step does not have an answer in the answer form)

Use Pandas to read in the csv titled `application_data.csv` as a Panda's dataframe. Once you have read in the data as a dataframe use Panda's `head()` function to show an overview of the data.

In [2]:
# Add your code for Question 2 in this code block
data = pd.read_csv("application_data - Copy.csv")
data.head()

,customerID,loanId,appilcationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate
0,839247458,302953235622,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-16
1,217540860,302960101337,2018-12-23,1,7500.0,30.0,30,2019-01-22,2018-12-29
2,522238092,303016988846,2019-01-08,1,7500.0,30.0,30,2019-02-07,2019-01-08
3,096754469,302999605504,2019-01-04,1,7500.0,30.0,30,2019-02-03,2019-01-08
4,410354345,302951945878,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-17

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customerID         1000 non-null   object
 1   loanId             1000 non-null   object
 2   appilcationDate    1000 non-null   object
 3   LoanNumber         1000 non-null   int64
 4   LoanAmount         1000 non-null   float64
 5   InterestRate       1000 non-null   float64
 6   TermDays           1000 non-null   int64
 7   repaymentDueDate   1000 non-null   object
 8   repaymentPaidDate  1000 non-null   object
dtypes: float64(2), int64(2), object(5)
memory usage: 70.4+ KB

In [4]:
data.describe()

        LoanNumber     LoanAmount  InterestRate    TermDays
count  1000.000000    1000.000000   1000.000000  1000.00000
mean      2.691000   13828.080000     23.061700    42.07500
std       2.789139   19362.887991      8.415945    34.79339
min       1.000000      80.000000      5.000000    15.00000
25%       1.000000    7500.000000     15.000000    30.00000
50%       2.000000    7500.000000     30.000000    30.00000
75%       3.000000   11000.000000     30.000000    45.00000
max      26.000000  166000.000000     36.000000   180.00000

You should now be able to see that the dataset contains information relating to loans that have been disbursed. Each row of the data is specific to a particular loan and displays the customer's ID that took out the loan, a unique loan ID, the date when the client applied for the loan, the loan number of the specific loan (how many loans the client has now taken out), the amount, interest rate, term days, the date when the loan repayment was due and the date the loan was actually repaid.

---

### Question 1

Convert `appilcationDate`, `repaymentDueDate` and `repaymentPaidDate` in the dataframes to datetimes.

In [5]:
data["appilcationDate"]  # SERIES CUT FROM MAIN DATAFRAME AS STRING OR PANDAS OBJECT

0      2018-12-21
1      2018-12-23
2      2019-01-08
3      2019-01-04
4      2018-12-21
          ...
995    2018-01-15
996    2018-02-13
997    2018-01-03
998    2018-11-19
999    2018-01-24
Name: appilcationDate, Length: 1000, dtype: object

In [6]:
pd.to_datetime(data["appilcationDate"]).dt.month # SERIES COVERTED TO DATETIME

0      12
1      12
2       1
3       1
4      12
       ..
995     1
996     2
997     1
998    11
999     1
Name: appilcationDate, Length: 1000, dtype: int64

In [7]:
# convert to dates
data["appilcationDate"] = pd.to_datetime(data["appilcationDate"])
data["repaymentDueDate"] = pd.to_datetime(data["repaymentDueDate"])
data["repaymentPaidDate"] = pd.to_datetime(data["repaymentPaidDate"])

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customerID         1000 non-null   object
 1   loanId             1000 non-null   object
 2   appilcationDate    1000 non-null   datetime64[ns]
 3   LoanNumber         1000 non-null   int64
 4   LoanAmount         1000 non-null   float64
 5   InterestRate       1000 non-null   float64
 6   TermDays           1000 non-null   int64
 7   repaymentDueDate   1000 non-null   datetime64[ns]
 8   repaymentPaidDate  1000 non-null   datetime64[ns]
dtypes: datetime64[ns](3), float64(2), int64(2), object(2)
memory usage: 70.4+ KB

Now that the dates have been converted, How many `unique`data types are contained within the application dataset?

In [9]:
# data types
data.dtypes

customerID                   object
loanId                       object
appilcationDate      datetime64[ns]
LoanNumber                    int64
LoanAmount                  float64
InterestRate                float64
TermDays                      int64
repaymentDueDate     datetime64[ns]
repaymentPaidDate    datetime64[ns]
dtype: object

### Question 2

Please calculate the `average` loan amount, interest rate and termdays for all the loans in the dataset? `Round` all number to two decimal places.

In [10]:
# 2a avg loan amount
data["LoanAmount"].mean()

13828.08

In [11]:
# 2b avg interest rate
data["InterestRate"].mean()

23.061700000000002

In [12]:
# 2c avg term days
data["TermDays"].mean()

42.075

---

### Question 3

Please create a new column called `dateDifference` which needs to contains the number of days between when the loan was repaid and when it was due to be repaid. 

Count the number of loans that were paid more than 3 days late. This can be done by first creating a dataframe only containing the loans that were paid more than 3 days late.

In [13]:
# date difference
date_difference = data["repaymentPaidDate"] - data["repaymentDueDate"]
data["dateDifference"] = date_difference

In [14]:
# data

In [15]:
# number of loans more than 3 days late
date_diff_as_int = data["dateDifference"].dt.days # convert the date diference from date diff datatype to days in integer type
filter_mask_for_3days = date_diff_as_int > 3 # BOOLEAN MASK WITH DATES OVER 3DAYS 

data[filter_mask_for_3days]

,customerID,loanId,appilcationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate,dateDifference
397,GH35460722,100016172,2018-01-30,5,80.0,15.0,15,2018-02-14,2018-03-01,15 days
410,GH85390929,100015715,2018-01-27,2,80.0,15.0,15,2018-02-12,2018-02-16,4 days
419,GH06832511,100014400,2018-01-20,1,80.0,15.0,15,2018-02-05,2018-02-14,9 days
424,GH26139148,100017099,2018-02-04,2,80.0,15.0,15,2018-02-19,2018-02-27,8 days
426,GH03825373,100012495,2018-01-13,1,80.0,15.0,15,2018-01-29,2018-02-13,15 days
...,...,...,...,...,...,...,...,...,...,...
978,189301655,302565959911,2018-10-13,2,7500.0,30.0,30,2018-11-12,2018-11-20,8 days
980,874756930,302885631,2018-03-07,2,7500.0,30.0,30,2018-04-06,2018-04-17,11 days
983,351491824,302607848,2018-01-08,1,7500.0,30.0,30,2018-02-09,2018-05-09,89 days
987,576830620,302856088,2018-03-01,3,7500.0,30.0,30,2018-03-31,2018-07-12,103 days
997,899011279,302585439,2018-01-03,3,7500.0,30.0,30,2018-02-02,2018-10-12,252 days

In [21]:
date_diff_as_int

0       -4
1      -24
2      -30
3      -26
4       -3
      ...
995    -25
996     -1
997    252
998     -2
999    -13
Name: dateDifference, Length: 1000, dtype: int64

In [16]:
late_payment_dataframe = data[filter_mask_for_3days]
late_payment_dataframe.shape[0]

145

---

### Question 4

Please group the dataset by `TermDays` and calculate the `mean` loan amount and the `standard deviation` of loan amount within each term.

What is the mean loan amount in 30-day loans and what is the standard deviation of  loan amount in 90-day loans? Please give your answers to the nearest two decimal places.

In [17]:
# mean loan amount in 30-day loans and standard deviation of loan amount in 90-day loans
data[["TermDays", "LoanAmount"]].groupby("TermDays").aggregate(["mean", "std"])

            LoanAmount
                  mean           std
TermDays
15         1274.088050   2885.967406
30         7941.964286   1606.039495
45        10706.250000   2346.143820
60        25710.526316  11559.646185
90        37672.727273  18050.140602
120       45055.555556  22192.966854
180       80988.095238  34612.222587

In [20]:
new_data = data[["TermDays", "LoanAmount"]]
new_data

     TermDays  LoanAmount
0          30      7500.0
1          30      7500.0
2          30      7500.0
3          30      7500.0
4          30      7500.0
..        ...         ...
995        30      7500.0
996        30      7500.0
997        30      7500.0
998        30      7500.0
999        30      7500.0

[1000 rows x 2 columns]

In [18]:
# MAX INTEREST RATE FOR 15 DAY LOANS
# AVERAGE INTEREST RATE FOR 60DAY LOANS

data[["TermDays", "InterestRate"]].groupby("TermDays").aggregate(["mean", "max"])

         InterestRate
                 mean   max
TermDays
15          15.000000  15.0
30          28.562143  30.0
45          28.732500  36.0
60          15.055789  20.1
90          10.645455  12.6
120         11.666667  12.0
180          6.250000   7.5

In [54]:
aggregate_data = data[["TermDays", "InterestRate"]].groupby("TermDays").aggregate(["mean", "max"])

mean_15_day_interest_rounded = aggregate_data.loc[15].round(2)
std_60_day_interest_rounded = aggregate_data.loc[60].round(2)

mean_15_day_interest = mean_15_day_interest_rounded[1]
max_60_day_interest = std_60_day_interest_rounded[0]

print("MAX 15day : ", mean_15_day_interest)
print("MEAN 60day : ", max_60_day_interest)

MAX 15day :  15.0
MEAN 60day :  15.06

In [50]:
aggregate_data = data[["TermDays", "LoanAmount"]].groupby("TermDays").aggregate(["mean", "std"])

mean_30_day_loans_rounded = aggregate_data.loc[30].round(2)
std_90_day_loans_rounded = aggregate_data.loc[90].round(2)

mean_30_day_loans = mean_30_day_loans_rounded[0]
std_90_day_loans = std_90_day_loans_rounded[1]

print("Mean 30day : ", mean_30_day_loans)
print("STD 90day : ", std_90_day_loans)

Mean 30day :  7941.96
STD 90day :  18050.14

---

### Question 5

`Late` loans are defined as loans that were paid `more than 3 days` after their due date. Please find the average number of days that these loans were paid beyond their due date for each `week of the year`. This will require you to break all `appilcationDate's` down into the week of the year they were made and then perform a group by. 

What is the average number of days that `late` loans applied for in the second week of the year were paid late? Please sumbit your answer rounded to two decimal places.

In [26]:
# week of year and average number of late days

applicationWeek = late_payment_dataframe["appilcationDate"].dt.week
applicationWeek

397     5
410     4
419     3
424     5
426     2
       ..
978    41
980    10
983     2
987     9
997     1
Name: appilcationDate, Length: 145, dtype: int64

In [27]:
late_payment_dataframe

,customerID,loanId,appilcationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate,dateDifference
397,GH35460722,100016172,2018-01-30,5,80.0,15.0,15,2018-02-14,2018-03-01,15 days
410,GH85390929,100015715,2018-01-27,2,80.0,15.0,15,2018-02-12,2018-02-16,4 days
419,GH06832511,100014400,2018-01-20,1,80.0,15.0,15,2018-02-05,2018-02-14,9 days
424,GH26139148,100017099,2018-02-04,2,80.0,15.0,15,2018-02-19,2018-02-27,8 days
426,GH03825373,100012495,2018-01-13,1,80.0,15.0,15,2018-01-29,2018-02-13,15 days
...,...,...,...,...,...,...,...,...,...,...
978,189301655,302565959911,2018-10-13,2,7500.0,30.0,30,2018-11-12,2018-11-20,8 days
980,874756930,302885631,2018-03-07,2,7500.0,30.0,30,2018-04-06,2018-04-17,11 days
983,351491824,302607848,2018-01-08,1,7500.0,30.0,30,2018-02-09,2018-05-09,89 days
987,576830620,302856088,2018-03-01,3,7500.0,30.0,30,2018-03-31,2018-07-12,103 days
997,899011279,302585439,2018-01-03,3,7500.0,30.0,30,2018-02-02,2018-10-12,252 days

In [31]:
late_payment_dataframe["applicationWeek"] = applicationWeek
late_payment_dataframe["late_days_as_int"] = late_payment_dataframe["dateDifference"].dt.days
# late_payment_dataframe

In [29]:
applicationWeek_grouped = late_payment_dataframe[["applicationWeek", "late_days_as_int"]].groupby("applicationWeek").mean()
mean_late_payment_2nd_week = float(applicationWeek_grouped.loc[2])

print("Mean late payments for second week : ", mean_late_payment_2nd_week)

Mean late payments for second week :  45.75

In [30]:
applicationWeek_grouped

                 late_days_as_int
applicationWeek
1                       87.600000
2                       45.750000
3                       16.500000
4                       37.916667
5                       18.000000
6                       39.714286
7                       29.250000
8                       25.153846
9                       55.857143
10                      29.250000
11                      71.500000
12                      19.500000
13                      34.000000
14                      14.000000
15                       7.000000
17                      34.500000
19                      66.500000
20                      28.000000
21                      10.000000
22                      88.000000
23                      11.000000
24                      36.000000
26                      27.333333
27                       4.000000
28                       7.000000
29                      69.000000
30                      65.000000
31                     108.000000
32                      15.500000
33                      30.000000
34                      14.000000
35                       4.000000
36                      39.333333
37                      17.200000
38                      60.000000
39                       9.000000
40                       9.000000
41                       8.000000
42                      20.000000
44                       9.000000
45                       6.000000
48                      18.000000

---

### The End

Thank you for completing the challenge. Please make sure you have submitted all of your answers to the arise Challenge Answers form.