In [5]:
import pandas as pd

In [7]:
data = dict(
            names = ["aliu", "Halima", "sanusi", "halima", "halima", "sanusi"],
            scores = [23, 19, 55, 98, 50, 80],
            ages = [30, 30, 28, 27, 20, 34]
            )

In [13]:
# creating pandas dataframe
df = pd.DataFrame(data)
df

    names  scores  ages
0    aliu      23    30
1  Halima      19    30
2  sanusi      55    28
3  halima      98    27
4  halima      50    20
5  sanusi      80    34

In [11]:
type(df)

pandas.core.frame.DataFrame

In [16]:
# series is a slice of a dataframe
names = df.names
names

0      aliu
1    Halima
2    sanusi
3    halima
4    halima
5    sanusi
Name: names, dtype: object

In [15]:
type(names)

pandas.core.series.Series

In [18]:
# PANDAS .ILOC attribute ALLOWS ONE TO FETCH ACROSS THE ROW INDICES
aliu = df.iloc[1]
aliu

names     Halima
scores        19
ages          30
Name: 1, dtype: object